<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pib.app.dao.AuthorityDAO">
	<select id="selectAuthority" resultType="com.pib.app.vo.Authority">
		SELECT  authority
		FROM	authorities
		WHERE	username = #{username}
	</select>
</mapper>
